<div class="container-lg my-3">
  <h3>Add a Todo</h3>
  <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
  <h3 class="my-3">Todo's Items</h3>
  <div *ngIf="this.todos.length === 0; else elseBlock">No Todos to display</div>
  <ng-template #elseBlock>
    <ul *ngFor="let todo of filteredTodos" class="list-group">
      <li class="list-group-item my-1">
        <app-todo-item
          [todo]="todo"
          (todoDelete)="deleteTodo($event)"
          (todoCheckbox)="toggleTodo($event)"
        ></app-todo-item>
      </li>
    </ul>
  </ng-template>
</div>
